<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update product</title>
    <style>
        h1{
            text-align: center;
        }
    form{
        text-align: center;
    }
    form input{
        margin-top: 10px;
    }
    a{
        display: block;
        text-align: center;
    }
    </style>
</head>
<body>
    <h1>Update <%= product.name %> </h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="post">
        <input type="text" id="name" name="name" oninput="validate()" placeholder="Enter product name" value="<%= product.name %> ">
        <br>
        <input type="text" id="price" name="price" oninput="validate()" placeholder="Enter price" value="<%= product.price %> ">
        <br>
        <br>
        <select name="category" id="" value="<%=product.category%>">
            <option value="fruit" <%= product.category === 'fruit' ? 'selected':'' %> >Fruit</option>
            <option value="vegetable" <%= product.category === 'vegetable' ? 'selected':'' %>>Vegetable</option>
            <option value="diary" <%= product.category === 'diary' ? 'selected':'' %>>Diary</option>
        </select>
        <br><br>
        <button id="btnsubmit">Update</button>
    </form>
    <br>
    <a href="/products">All Products</a>
</body>
<script>
    
    let button = document.querySelector('#btnsubmit');
    button.disabled = true;

    function validate(){
        if(document.querySelector('#name').value == '' || document.querySelector('#price').value == ''){
            console.log(document.querySelector('#price').value)
        button.disabled = true;
    }else{
        button.disabled = false;
        }
    }
    
</script>
</html>